.sf_prev_btn,
.sf_range_btn,
.sf_next_btn{
    border-top: 1px solid rgb(201,210,221);
    border-bottom:1px solid rgb(201,210,221);
    color:rgb(201,210,221);
    border-left-width: 0;
    border-right-width: 0;
	line-height: 33px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
    cursor:pointer;
}
.sf_prev_btn,
.sf_next_btn{
    transition:all 0.2s ease-out;
    width:50px;
    cursor:pointer;
}
.sf_prev_btn:hover,
.sf_next_btn:hover{
    background-color:rgb(201, 210, 221);
    color:rgb(57, 67, 82);
}
.sf_range_btn{
    padding:0 10px;
    display:inline-block;
}
.sf_range_btn span+span{
    display:inline-block;
    padding-left:10px;
}
.sf_prev_btn{
    border-left: 1px solid rgb(201,210,221);
    margin-left:10px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.sf_next_btn{
    border-right: 1px solid rgb(201,210,221);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.segmented-button__item[data-qt="btnSegmented_OPT_BUTTON"]{
    border-right:1px solid rgb(201,210,221);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
body .quick-quote{
    width:350px!important;
}
.sf_all_stocks_dropdown.closed{
    display:none;
    position:absolute;
    top:80px;
    left:500px;
    width:500px;
    height:500px;
    overflow:scroll;
}
.sf_all_stocks_dropdown.open{
    display:block;
}
