html,head,body{
    padding:20px;
    margin:0;
    color:#333;
    background-color: #EEE!important;
    font-family:arial;
    min-height:250px;
}
label{
    margin-bottom:5px;
}
input{
    margin-bottom:10px;
    padding:5px;
}
button{
    background-color:#3268E0;
    color:#FFF;
    padding:10px;
    border: 1px solid transparent;
    border-radius:5px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:100%;
    opacity:0.9;
}
button:hover{
    opacity:1;
    cursor:pointer;
}
.message{
    display:none;
    margin-top:10px;
    margin-bottom:5px;
}
input:last-child{
    margin-bottom:0;
}
