body{
    margin:0;
    padding:20px;
    font-size:14px;
    font-family:arial;
}
h1{
    font-size:20px;
}
.element{
    padding:20px 0;
}
.label{
    padding:0 0 10px 0;
    color:#444;
}
select,
input,
textarea{
    outline: none;
    padding:5px;
    color:#333;
    background-color:#FFF;
    border:1px solid #DDD;
    border-radius:5px;
    box-shadow:none;
    border-collapse: collapse;
}
option{
    background-color:#FFF;
}
button{
    background-color:#3268E0;
    color:#FFF;
    border-collapse: collapse;
    border:1px solid transparent;
    padding:10px;
    opacity:0.9;
}
button:hover{
    cursor:pointer;
    opacity:1;
}
a.options:hover{
    opacity:1;
}
a.options {
    float:right;
    display:block;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    width:24px;
    height:24px;
    cursor:pointer;
    opacity:0.9;
    background-image; ur('settings.png');
}
